body {
  margin: 0;
}

h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 80px;
  margin: 5px 0 0;
  visibility: hidden;
}

p {
  margin: 0;
}

a {
  color: inherit;
}

header {
  background-color: lightpink;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 8px 25px;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-card {
  height: 150px;
  width: 150px;
  background-color: lightpink;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-card.flipped h2 { 
  visibility: visible;
}

#score-board {
  margin: 20px 0 0;
  display: flex;
}

.score {
  padding: 0 20px 0;
}

#score-board.hidden {
  visibility: hidden;
}

#win-screen {
  display: none;
}

#win-screen>* {
  margin: 20px;
}

#win-screen.visible {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(230,230,250, 0.95);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  color: white;
  background-color: lightpink;
  padding: 10px;
  width: 100%;
  text-align: center;
}

footer a:hover {
  color: #999;
}
